---
layout: layouts/page.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slug }}/index.html"
eleventyExcludeFromCollections: true
---

<h1>Tag: {{ tag }}</h1>

{% set taggedPages = collections[tag] | reverse %}
<ul>
  {% for page in taggedPages %}
    <li>
      <a href="{{ page.url | url }}">{{ page.data.title or page.url }}</a>
      {% if page.date %}
        <span class="small"> ({{ page.date | date("yyyy-MM-dd") }})</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
