{# Collect all tags Eleventy knows about and render as chips #}
{% set tagList = collections.all | eleventyComputed.collections.all | default([]) %}
{% set allTags = collections | keys | filter(tag => tag != 'all' and tag != 'posts' and tag != 'tagList') %}

<div class="tags-block" aria-label="Tags">
  {% for tag in allTags | sort %}
    <a class="tag-chip" href="/tags/{{ tag | slug }}/" title="See {{ tag }} content">{{ tag }}</a>
  {% endfor %}
</div>
